.createBtn, .removeBtn {
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  font-weight: bold;
}

.createBtn:hover {
  color: blue;
  background-color: darkgrey;
}

.removeBtn:hover {
  color: red;
  background-color: darkgrey;
}

.classicBtn {
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  font-weight: bold;
  color: blue;
}

.classicBtn:hover {
  color: white;
  background-color: blue;
}
