html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  width: fit-content;
}

input, textarea, select{
  padding:5px;
  border-radius: 5px;
  font-size: 20px;
  margin:5px;
  color: blue;
}

.statusAvailable {
  background-color: green;
  color: white;
  text-align: center;
}

.statusSold {
  background-color: red;
  color: white;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

/* Navbar Styles */
nav ul {
  list-style-type: none;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff5ee;
  position: fixed;
  width: 100%;
}

nav ul li {
  float: left;
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
}

nav ul li {
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.5s ease;
}

nav li:hover {
  background-color: aliceblue;
  cursor: pointer;
  transform: translateY(-3px);
  text-decoration: underline;
}

/* Section styling */

section {
  margin: 25px;
  padding: 25px;
  font-family: "Ubuntu";
  /* height: 100vh; */
  margin-bottom: 100px;
}

section h1 {
  text-decoration: underline;
  font-size: 32px;
}

section p,
li {
  font-size: 22px;
}

section span {
  padding: 5px;
  background-color: blue;
  color: white;
  width: fit-content;
  font-size: 18px;
  border-radius: 3px;
}

/* Footer styling */
footer {
  overflow: hidden;
  background-color: #fff5ee;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

i {
  transition: all 0.5s ease;
}

footer i:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: blue;
}

/* models view styling */

.modelsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  /* height: 100vh; */
}

.modelCard {
  width: 300px;
  padding: 15px;
  background-color: #e6e6fa;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

/* category list view */
.contentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer h3{
  font-size: 28px;
  transition: all 0.5s ease;
}

.contentContainer h3:hover{
  transform: translateY(-5px);
  color: blue;
}

/* detailed category view */
.detailedCategoryCardsContainer {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 15px;
  background-color: azure;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.detailedCategoryCardsContainer:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: aquamarine;
}

@media screen and (max-width: 450px) {
  nav ul li {
    float: none;
  }

  section {
    padding-top: 150px;
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .detailedCategoryCardsContainer {
    flex-direction: column;
    padding: 5px;
    margin: 5px;
  }
}

@media screen and (max-width: 800px) {
  .detailedCategoryCardsContainer {
    width: 100%;
  }
}
